<template>
  <div class="about">
    <h1>Les Règles du Tic-Tac-Toe</h1>
  </div>
  <div>
    <h3 class="text">
      Le but du jeu est d’aligner avant son adversaire 3 symboles identiques horizontalement, verticalement ou en diagonale.
      Chaque joueur a donc son propre symbole, une croix pour l’un et un rond pour l’autre.
      La partie se termine quand l’un des joueurs à aligner 3 symboles ou quand la grille est complétée sans vainqueur.
      Il y a alors égalité.
    </h3>
    <h3 class="text">
      Le premier joueur a aligner 3 symboles identiques gagne la partie.
      Attention, le joueur qui débute est toujours avantagé pour gagner. Pensez donc à alterner !
    </h3>
  </div>
</template>

<style  scoped>
.text {
  margin: 3em;
}
</style>
