<template>
  <div class="home">
    <GameTicTacToe msg="Tic-Tac-Toe"/>
  </div>
</template>

<script>
// @ is an alias to /src
import GameTicTacToe from "@/components/GameTicTacToe";

export default {
  name: 'HomeView',
  components: {
    GameTicTacToe
  }
}
</script>
