<template>
  <div class="board">
    <!-- html represented the board -->
    <table class="board_game">
      <tr>
        <td class="borad_td" v-for="(value, index) in rawOne" :key="index"
            @click="selectedCase(index+1)">
          {{ value }}
        </td>
      </tr>
      <tr>
        <td class="borad_td" v-for="(value, index) in rawTwo" :key="index"
            @click="selectedCase(index+4)">
          {{ value }}
        </td>
      </tr>
      <tr>
        <td class="borad_td" v-for="(value, index) in rawThree" :key="index"
            @click="selectedCase(index+7)">
          {{ value }}
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: "BoardGame",
  cumputed: {
    ...mapState({
      value : 'value',
      values : 'values',
      rawOne : 'rawOne',
      rawTwo : 'rawTwo',
      rawThree : 'rawThree'
    })
  }
}
</script>

<style scoped>
td:hover {background-color: #a7f1b8;}
.board_game {
  margin: 1em auto;
  width: 15em;
}
.borad_td {
  border: 2px solid;
  height: 5em;
  width: 5em;
  cursor: pointer;
  text-align: center;
}
td {
  text-align: center;
}
</style>
