<template>
  <div class="Game">

    <h1>{{ msg }}</h1>

    <div class="players">
      <SelectedPlayer/>
    </div>

    <div class="players">
      <!-- html represented the select player -->
      <table class="players_table">
        <tr class="player_tr">
          <td class="player_td" @click="selectedPlayer(false)">{{ players[0] }} - {{score[0]}}</td>
          |
          <td class="player_td" @click="selectedPlayer(true)">{{ players[1] }} - {{score[1]}}</td>
        </tr>
      </table>
    </div>

    <div class="board">
      <BoardGame/>
    </div>

    <div class="board">
      <!--html represented the board -->
     <table class="board_game">
       <tr>
         <td class="borad_td" v-for="(value, index) in rawOne" :key="index"
             @click="selectedCase(index+1)">
                <transition name="fade">
                  <h4 v-if="selectedCase">{{ value }}</h4>
                </transition>
         </td>
       </tr>
       <tr>
         <td class="borad_td" v-for="(value, index) in rawTwo" :key="index"
             @click="selectedCase(index+4)">
                <transition name="fade">
                  <h4 v-if="selectedCase">{{ value }}</h4>
                </transition>
         </td>
       </tr>
       <tr>
         <td class="borad_td" v-for="(value, index) in rawThree" :key="index"
             @click="selectedCase(index+7)">
                <transition name="fade">
                  <h4 v-if="selectedCase">{{ value }}</h4>
                </transition>
         </td>
       </tr>
     </table>
   </div>

    <div class="replay_game">
      <button class="button_replay" @click="resetGame">Reset</button>
    </div>

  </div>
</template>

<script>
import OverlayWin from "@/components/OverlayWin";
import BoardGame from "@/components/BoardGame";
import SelectedPlayer from "@/components/SelectedPlayer";

export default {
  name: 'GameTicTacToe',
  props: {
    msg: String
  },
  data() {
    //all data for the app
    return {
      player : false,
      players : [" Player X ", " Player O "],
      values : ["X", "O"],
      value : "",
      score : [0, 0],
      rawOne : ["","",""],
      rawTwo : ["","",""],
      rawThree : ["","",""]
    }
  },
  methods: {
    selectedCase(numberOfCase) {
      //main method, depend on which case the user clic, this function will stream a cross or a circle
      // depend on the user who play too
      this.selectedPlayer(this.player);

      switch (numberOfCase) {
        case numberOfCase = 1 :
          if (this.rawOne[0] === "") {
            this.rawOne[0] = this.value;
            this.changePlayer(this.player);
          }
          break;
        case numberOfCase = 2 :
          if (this.rawOne[1] === "") {
            this.rawOne[1] = this.value;
            this.changePlayer(this.player);
          }
          break;
        case numberOfCase = 3 :
          if (this.rawOne[2] === "") {
            this.rawOne[2] = this.value;
            this.changePlayer(this.player);
          }
          break;
        case numberOfCase = 4 :
          if (this.rawTwo[0] === "") {
            this.rawTwo[0] = this.value;
            this.changePlayer(this.player);
          }
          break;
        case numberOfCase = 5 :
          if (this.rawTwo[1] === "") {
            this.rawTwo[1] = this.value;
            this.changePlayer(this.player);
          }
          break;
        case numberOfCase = 6 :
          if (this.rawTwo[2] === "") {
            this.rawTwo[2] = this.value;
            this.changePlayer(this.player);
          }
          break;
        case numberOfCase = 7 :
          if (this.rawThree[0] === "") {
            this.rawThree[0] = this.value;
            this.changePlayer(this.player);
          }
          break;
        case numberOfCase = 8 :
          if (this.rawThree[1] === "") {
            this.rawThree[1] = this.value;
            this.changePlayer(this.player);
          }
          break;
        case numberOfCase = 9 :
          if (this.rawThree[2] === "") {
            this.rawThree[2] = this.value;
            this.changePlayer(this.player);
          }
          break;
      }
      this.scoring();
    },

    selectedPlayer(playerValue) {
      //method who change the user after he select his player type
      if (playerValue) {
        this.value = this.values[1];
      } else {
        this.value = this.values[0];
      }
    },

    changePlayer(player) {
      //method who change the player after one player had played
      if (player) {
        this.value = this.values[0];
      } else {
        this.value = this.values[1];
      }
      this.player = !player;
    },

    victoryCondition() {
      // check all victory condition
      // horizontal victory
      if (this.rawOne[0] === "X" && this.rawOne[1] === "X" && this.rawOne[2] === "X" ||
          this.rawTwo[0] === "X" && this.rawTwo[1] === "X" && this.rawTwo[2] === "X" ||
          this.rawThree[0] === "X" && this.rawThree[1] === "X" && this.rawThree[2] === "X") {
        return this.players[0];
      }
      if (this.rawOne[0] === "O" && this.rawOne[1] === "O" && this.rawOne[2] === "O" ||
          this.rawTwo[0] === "O" && this.rawTwo[1] === "O" && this.rawTwo[2] === "O" ||
          this.rawThree[0] === "O" && this.rawThree[1] === "O" && this.rawThree[2] === "O") {
        return this.players[1];
      }
      // vertical victory
      if (this.rawOne[0] === "X" && this.rawTwo[0] === "X" && this.rawThree[0] === "X" ||
          this.rawOne[1] === "X" && this.rawTwo[1] === "X" && this.rawThree[1] === "X" ||
          this.rawOne[2] === "X" && this.rawTwo[2] === "X" && this.rawThree[2] === "X") {
        return this.players[0];
      }
      if (this.rawOne[0] === "O" && this.rawTwo[0] === "O" && this.rawThree[0] === "O" ||
          this.rawOne[1] === "O" && this.rawTwo[1] === "O" && this.rawThree[1] === "O" ||
          this.rawOne[2] === "O" && this.rawTwo[2] === "O" && this.rawThree[2] === "O") {
        return this.players[1];
      }
      // diagonal victory
      if (this.rawOne[0] === "X" && this.rawTwo[1] === "X" && this.rawThree[2] === "X" ||
          this.rawOne[2] === "X" && this.rawTwo[1] === "X" && this.rawThree[0] === "X") {
        return this.players[0];
      }
      if (this.rawOne[0] === "O" && this.rawTwo[1] === "O" && this.rawThree[2] === "O" ||
          this.rawOne[2] === "O" && this.rawTwo[1] === "O" && this.rawThree[0] === "O") {
        return this.players[1];
      }
    },

    resetGame() {
      //method to reset the game
      this.rawOne = ["","",""];
      this.rawTwo = ["","",""];
      this.rawThree = ["","",""];
    },

    scoring() {
      //check if the victory condition is true for one of the user then give him a point
      let winner = this.victoryCondition();
      if (winner === this.players[0]) {
        this.score[0] ++;
        this.resetGame();
      }
      if (winner === this.players[1]) {
        this.score[1] ++;
        this.resetGame();
      }
    }
  },
  components:{
    SelectedPlayer,
    BoardGame,
    // eslint-disable-next-line vue/no-unused-components
    OverlayWin
  }
}
</script>

<style scoped>
.button_replay:hover {
  background-color: #2c974b;
}
td:hover {background-color: #a7f1b8;}
.fade-enter-active {
  transition: opacity 1s linear;
}
.fade-enter-from {
  opacity: 0;
}
.fade-enter-to {
  opacity: 100;
}
.board_game {
  margin: 1em auto;
  width: 15em;
}
.borad_td {
  border: 2px solid;
  height: 5em;
  width: 5em;
  cursor: pointer;
  text-align: center;
}
.players_table {
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  border-spacing: 1em;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
}
.button_replay {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
a {
  color: #42b9af;
}
td {
  text-align: center;
}
</style>
