<template>
  <div v-if="visible" @click="confirm(`${title}:confirmed`)">
    {{ title }}
  </div>
</template>

<script>
import { defineProps } from 'vue'

export default {
  name: "overlayWin",
  props: defineProps({
    title: String,
    visible: Boolean
  })
}
</script>

<style scoped>

</style>
